<!DOCTYPE html>
<html>
<head>
    <title>WebRTC Example</title>
</head>
<body>
<video id="localVideo" autoplay playsinline></video>
<video id="remoteVideo" autoplay playsinline></video>
<button id="startButton">상담실 입장하기</button>
<button id="callButton" disabled>상담 시작하기</button>
<button id="hangupButton" disabled>상담 종료하기</button>

<script src="/js/client/webrtc.js"></script>
</body>
</html>
